MONGO_URI=mongodb://localhost:27017/image_processing
DB = image_processing
PORT=3000

AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_REGION=us-east-2
AWS_S3_BUCKET=almacen-photos
